<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cutesource="http://www.milesloner.com/schema/xsduser"
	xsi:schemaLocation="
				http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.milesloner.com/schema/xsduser http://www.milesloner.com/schema/xsduser.xsd">
	<!--
	<cutesource:xsduser id="testBean" userName="milesloner520" email="mail.163.com" />
	-->
</beans>